# ignore everything
/*
/*/
# but not these
!.tmux.conf
!rain.sh
!/.cargo/
!/.vimrc
!/.vim
!/.viminfo
!/.config/
!.gitignore 
!/.tmux/
!/README.md

# Got to remove these coz the can leak some personal info 
.config/*.log
.config/nvim
.config/lazygit
.config/btop/btop.log
.config/lazygit
.config/lazygit/state.yml
.config/btop/btop.log
.config/lazygit/state.yml
.config/btop/btop.log
.config/lazygit/state.yml
.tmux/resurrect
.tmux/plugins
.config/st/st
.config/st/x.o
.config/autostart
.config/dconf
.config/enchant
.config/evolution/sources
.config/google-chrome
.config/gnome-control-center/backgrounds
.config/gtk-2.0
.config/gtk-3.0
.config/ibus/bus
.config/menus
.config/nitrogen
.config/pop-shell
.config/pop-system-updater
.config/pulse
.config/qalculate
.config/ayush-india config main .config-awesome.zip
.vim/swaps
.vim/undo
.viminfo
.config/touchegg/.touchegg:0.lock
.vim/.netrwhist
.config/libreoffice/
.config/QtProject.conf
.config/godot
.config/nnn/bookmarks
.config/so
.config/blender/4.1/config
.config/htop
.config/Hypersomnia
.config/openra/Content/cnc
.config/openra
.config/totem
.config/dleyna-server-service.conf
.config/screengrab
.config/GIMP/2.10
.config/unity3d
.config/Dynacore
.config/Kvantum
.config/Postman
.config/Thunar
.config/Unknown Organization
.config/ags
.config/cava-backup-back-up_1016_1654
.config/eog
.config/ghostwriter
.config/go/telemetry/local
.config/mpv/watch_later
.config/qBittorrent
.config/qt5ct
.config/qt6ct
.config/vlc
.cargo/bin
.cargo/registry
.config/.config/Dynacore
.config/.config/btop-backup-back-up_1016_1654
.config/.config/dconf
.config/.config/enchant
.config/.config/evolution/sources
.config/.config/gedit
.config/.config/gnome-control-center/backgrounds
.config/.config/google-chrome
.config/.config/gtk-3.0
.config/.config/ibus/bus
.config/.config/nautilus
.config/.config/pop-shell
.config/.config/pop-system-updater
.config/.config/pulse
.config/.config/qalculate
.config/.config/screengrab
.config/.config/touchegg
.config/.config/.gsd-keyboard.settings-ported
.config/.config/QtProject.conf
.config/.config/dleyna-server-service.conf
.config/.config/gnome-initial-setup-done
.config/gedit
.config/lxqt
.config/nwg-look
.config/pcmanfm-qt/lxqt
.config/qterminal.org
.config/rofi (copy 1)
.config/xfce4
.config/xsettingsd
.tmux
.config/.config/mimeapps.list
.config/.config/monitors.xml
.config/.config/monitors.xml~
.config/.config/user-dirs.dirs
.config/.config/user-dirs.locale
.config/lxqt-mimeapps.list
.config/mimeapps.list
.config/fish/fish_variables
.cargo/.global-cache
.cargo/.crates.toml
.cargo/.crates.toml
.cargo/.crates2.json
.config/pip/pip.conf
.config/audacity
.config/compiz-1/compizconfig
.config/easytag
.config/fish
