configuration{
    modi: "run,drun,window";
    lines: 5;
    font: "JetBrainsMonoNerdFont 12";
    show-icons: false;
    icon-theme: "Paper Mono";
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
}
/* TODO: pick some colours for gruv theme */

//@theme "forest"

@theme "/usr/local/share/rofi/themes/solarized_alternate.rasi"
