* {
    bg-col: #2b201f;
    bg-col-light: #453432;
    border-col: #282b2c;
    selected-col: #485d63;
    blue: #8dae88;
    fg-col: #d4be98;
    fg-col2: #df736d;
    grey: #5b5e5f;
    width: 600;
}
